<!--Home Page Content-->
<body background="Assets/images/background.jpg">
    <main class="container" style="height: 530px;">
      <div class="jumbotron" style="background-color:white; height: 550px;">
        <img src="Assets/images/Happy.jpg" width="450px" height="450px" style="float: right;"/>
        <h1 class="display-6"><b>Welcome to my Page !</b></h1>
        <h3 style="text-align: right;"><br>I am Muskan Sood . .</h3>
        <hr class="my-4"><p class="lead">Let me tell you more about me !</p>
            <a class="btn btn-primary btn-lg" href="\about" role="button">About Me</a>

        <hr class="my-4"><p class="lead">Follow the buttons below to find relevant details :)</p>
              <a class="btn btn-primary btn-lg" href="\projects" role="button">Projects</a>
              <a class="btn btn-primary btn-lg" href="\services" role="button">Services</a>
              <a class="btn btn-primary btn-lg" href="\contact" role="button">Contact</a>
      </div>
    </main>
  </body>